<div class="container">
    <h1>View array</h1>
  
    <a href="#" routerLink="/crud/View" class="btn btn-primary">Back</a>
   
    <div>
        <strong>firstname:</strong>
        <p>{{ array.firstname }}</p>
    </div>
   
    <div>
        <strong>lastname:</strong>
        <p>{{ array.lastname }}</p>
    </div>
   
    <div>
        <strong>password:</strong>
        <p>{{ array.password }}</p>
    </div>
    <div>
        <strong>email:</strong>
        <p>{{ array.email }}</p>
    </div>
</div>
<router-outlet></router-outlet>