<div  class="container aa">
    <h1>View array</h1>

    <a href="#" routerLink="/crud/list" class="btn btn-primary">Back</a>
    <div class="bb" >
        <div>
            <strong>firstname:</strong>
            <p class="cc">{{ array.firstname }}</p>
        </div>

        <div>
            <strong>lastname:</strong>
            <p class="cc">{{ array.lastname }}</p>
        </div>

        <div>
            <strong>password:</strong>
            <p class="cc">{{ array.password }}</p>
        </div>
        <div>
            <strong>email:</strong>
            <p class="cc">{{ array.email }}</p>
        </div>
    </div>
</div>
<router-outlet></router-outlet>