.aa{
    text-align: center
}
.bb{
       background-color: rgb(180, 174, 174); 
       border : 15px solid green;
 padding:50px;
    width:300px;
     margin:25px 400px;
}
.cc{
    background-color: ivory;
}