<div class="aa">
    <form>
<p class='aa'>Name</p><p><input class='bb' placeholder='Name' [(ngModel)]='name' name='Name'></p>
<p class='aa'>Employeer Id</p><p><input class='bb' placeholder='Id' [(ngModel)]='id' name='EmployerId'></p>
<p class='aa'>Date of Birth</p><p><input class='bb' placeholder='DOB' [(ngModel)]='dob' name='DateOfBirth'></p>
<p class='aa'>Address</p><p><input class='bb' placeholder='Address' [(ngModel)]='address' name='Address'></p>
<p class='aa'>City</p><p><input class='bb' placeholder='City' [(ngModel)]='city' name='ies'></p>
<p><button type='button' (click)="add()">Add element in array</button></p>
<a routerLink="/hero">Home</a>
<a routerLink="/singlepage">SinglePage</a>
<p><button type='button' routerLink="/aa/webpack">webpack</button></p>
<p><button type='button' routerLink="/aa/webworker">webworker</button></p>

</form>
</div>
<div *ngFor="let arr of data">form for bio data
    <p> {{arr.name}}</p>
    <p>{{arr.id}}</p>
    <p>{{arr.dob}}</p>
    <p>{{arr.address}}</p>
    <p>{{arr.city}}</p>
     
 </div>
 